<h5 style="text-align: center; margin-top:50px;">Formulario para cargar Noticias</h5>
<form action="/admin/noticias/agregarNoticias" method="post">
  <div class="mb-3">
    <input placeholder="Título" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="titulo">
  </div>
  <div class="mb-3">
    <input placeholder="Subtítulo" type="text" class="form-control" id="exampleInputPassword1" name="subtitulo">
  </div>
  <div class="mb-3">
    <input placeholder="Hashtag 1" type="text" class="form-control" id="exampleInputPassword1" name="hash1">
  </div>
  <div class="mb-3">
    <input placeholder="Hashtag 2" type="text" class="form-control" id="exampleInputPassword1" name="hash2">
  </div>
  <div class="mb-3">
    <input placeholder="Hashtag 3" type="text" class="form-control" id="exampleInputPassword1" name="hash3">
  </div>
  <div class="mb-3">
    <input placeholder="Fuente 1" type="text" class="form-control" id="exampleInputPassword1" name="fuente1">
  </div>
  <div class="mb-3">
    <input placeholder="Fuente 2" type="text" class="form-control" id="exampleInputPassword1" name="fuente2">
  </div>
  <div class="mb-3">
    <input placeholder="Fuente 3" type="text" class="form-control" id="exampleInputPassword1" name="fuente3">
  </div>
  <button type="submit" class="btn btn-primary">Guardar noticia</button>
  {{#if error}}
  <h5>
    {{message}}
  </h5>
  {{/if}}
</form>
