<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='https://fonts.googleapis.com/css2?family=Anton&display=swap' />
    <link rel='https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap' />
    <link rel='https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap' />
  </head>
  <header>
        <div className="logo">
            <h3>NEWZ</h3>
        </div>
    </header>
    <footer>
        <h6>Tarea de la Unidad 3 - Maquetación de sitio - Martín Monzón - 2022</h6>
    </footer>
  <body>
    {{{body}}}
  </body>
</html>
