<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="https://fonts.googleapis.com/css2?family=Anton&display=swap" />
    <link
      rel="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap"
    />
    <link
      rel="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <header>
    <div className="logo">
      <h3>NEWZ</h3>
    </div>
  </header>
  <footer>
    <h6>Tarea de la Unidad 3 - Maquetación de sitio - Martín Monzón - 2022</h6>
  </footer>
  <body>
    {{{body}}}
  </body>
</html>