body {
    margin: 0px 0px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 40px;
}

html {
    position: relative;
    min-height: 100%;
}

/* estilo del FOOTER */

footer {
    height: 30px;
    width: 100%;
    background: tomato;
    background: linear-gradient(300deg, tomato 0%, rgba(0,0,0,1) 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

/* estilos del HEADER */

header {
    display: flex;
    align-items: center;
    background: tomato;
    background: linear-gradient(50deg, tomato 0%, rgba(0,0,0,1) 70%);
    padding: 0px 20px;
    height: 60px;
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
-webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
-moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
}
.fab, h3 {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 36px;
    align-items: center;
}
.logo {
    display: inline-flex;
    align-items: center;
}
i {
    margin: 0px 8px 0px 0px;
}
.nav-items {
    display: none;
}
.nav-movil {
    display: inline-flex;
    align-items:center;
    justify-content:space-evenly;
    width: 100%;
}
h5, a {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.seleccionado {
    border-bottom: white solid;
}
a:hover {
    border-bottom: white solid;
}
/* estilos de la PRESENTACION */
.presentacion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}
#news {
    width: 150px;
    height: 150px;
    margin: 0px 20px 20px 20px;
}
.titulo {
    font-family: 'Anton', sans-serif;
    font-size: 36px;
    color: black;
    line-height: 40px;
    margin-left: 10px;
}
.leyenda {
    font-weight: lighter;
    color: rgb(43, 43, 43);
    font-size: 20px;
    line-height: 24px;
    margin-left: 10px;

}
svg {
    position: absolute;
    margin: 0px 0px;
    z-index: -1;
}
/* estilos del CARD */
.card {
    width: 90%;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #a2d9ff;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    transition: all 0.5s ease;
}
.card:hover img {
    transform: scale(1.1);
}
.arrobas {
    color: rgb(50, 88, 170);
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}
.hashtags {
    color: rgb(39, 39, 39);
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}
li {
    list-style: none;
    margin: 0px 10px;
}
img {
    height: auto;
    width: 100px;
    transition: all 0.5s ease;
    margin: 0px;
}
img:hover {
    transform: scale(1.1);
}
.texto {
    width: 100%;
}
h4 {
    color: tomato;
    font-size: 20px;
    line-height: 20px;
    margin: 0px 5px;
}
h6 {
    font-weight: lighter;
    color: rgb(43, 43, 43);
    font-size: 14px;
    line-height: 20px;
    margin: 0px 5px;
}
.fotoytexto {
    display: inline-flex;
    flex-direction: row;
}
/* estilos de las FUENTES */
.fuente-destacada {
    width: 130px;
    height: auto;
    background: white;
    border-radius: 10px;
    border: 2px solid #a2d9ff;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    transition: all 0.5s ease;
}
#foto-fuente {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 0px auto 5px auto;
}
.top5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.badge {
    position: absolute;
    margin-top: -40px;
    margin-left: 120px;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: black;
    z-index: 1;
    transition: all 0.5s ease;
}
.fuente-destacada:hover .badge {
    color: tomato;
}
.fuente-destacada:hover #foto-fuente {
    filter: grayscale(100%);
}
/* estilos de NOSOTROS */
.servicios {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nosotros {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.items {
    display:flex;
    flex-direction: column;
    width: 90%;
}
.cadaitem {
    display:flex;
    flex-direction: row;
    padding: 5px;
}
#items {
    font-size: 30px;
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.5s ease;
    color: rgb(0, 0, 0);
}
#items:hover {
    transform: rotate(-25deg);
    color: tomato;
}
.cadaitem:nth-child(even) .leyenda {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.cadaitem:nth-child(odd) .leyenda {
    color: rgb(85, 85, 85);
    font-size: 20px;
}
h2 {
    border-bottom: tomato solid 1px;
    padding: 10px;
    margin: 0px 0px 5px 0px;
}
/* estilos de HASHTAGS */
.ico-red {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
#ico-red {
    font-size: 14px;
    color: rgb(85, 85, 85);
    margin: 0px 0px 0px 6px;
}
/* estilos de HASHTAGS */
.ico-red {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
#ico-red {
    font-size: 14px;
    color: rgb(85, 85, 85);
    margin: 0px 0px 0px 6px;
}
.listado {
    width: 90%;
    margin: 5px auto;
}
.listados {
    list-style:i;
}
ol {
   column-count: 2;
}
/* estilos de GALERIA */
.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 20px;
}
.foto img {
    height: auto;
    width: 200px;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all 0.5s ease;
    margin: 0px 20px 20px 0px;
}
.foto img:hover {
    scale: 1.1;
    box-shadow: black;
    filter: grayscale(0%);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
/* estilos de CONTACTO */
.contacto {
    display: flex;
    flex-direction: column;
    margin: 0px auto 50px auto;
    width: 90%;
}
.formulario {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: auto;
    padding-bottom: 20px;
    border-bottom: solid rgb(221, 221, 221) 2px;
}
textarea, input {
    margin: 8px 0px;
    border-radius: 5px;
    font-weight: lighter;
    color: rgb(43, 43, 43);
    font-size: 14px;
    font-family: FontAwesome, 'Dosis', sans-serif;
    resize: none;
}
textarea:focus, input:focus {
    border-color: tomato;
    outline: none;
}
#boton-enviar {
    background-color: #a2d9ff;
    font-weight: bold;
    font-size: 18px;
}
#boton-enviar:hover {
    background-color: tomato;
    color: white;
}
#mail {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}