@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
  margin: 0px;
  font-family: 'Dosis', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}
header {
  display: flex;
  align-items: center;
  background: tomato;
  background: linear-gradient(50deg, tomato 0%, rgba(0,0,0,1) 70%);
  padding: 0px 20px;
  height: 60px;
  box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
-webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
-moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
}
.fab, h3 {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 36px;
  align-items: center;
}
.logo {
  display: inline-flex;
  align-items: center;
}
i {
  margin: 0px 8px 0px 0px;
}
.nav-items {
  display: inline-flex;
  align-items: center;
  justify-content:space-evenly;
  position: relative;
  width: 100%;
}
.nav-movil {
  display: none;
}
h5, a {
  font-family: 'Dosis', sans-serif;
  color: tomato;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.seleccionado {
  border-bottom: white solid;
}
a:hover {
  border-bottom: white solid;
}
footer {
  height: 30px;
  width: 100%;
  background: tomato;
  background: linear-gradient(300deg, tomato 0%, rgba(0,0,0,1) 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
h6 {
  font-weight: lighter;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 20px;
  margin: 5px;
}
h2 {
  margin: 20px;
}
form {
  display:block;
  width: 400px;
  margin-left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-200px);
  -moz-transform: translate(-200px);
  -ms-transform: translate(-200px);
  -o-transform: translate(-200px);
  margin-top: 100px;
}
input {
  margin: 0px 0px 10px 0px;
}
.log {
  margin: 20px;
  text-align: right;
}
button {
  margin: 0px 10px;
}